h1 {
  font-size: 60pt !important;
}

.step {
  color: #0f9039;
  font-size: 2em;
}

.transition {
  color: #5289f7;
}

.spaced li {
  margin:0 0 10px 0;
}

.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}

